﻿<div data-ng-controller="Shell as vm">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <header class="clearfix">
          <div ng-include="'/stardocx/layout/topnav.html'"></div>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <section id="content" class="content">
          <div ng-include="'/stardocx/layout/sidebar.html'"></div>
        </section>
      </div>
    </div>

    <div ui-view ></div>



    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="footer">
          <div class="container">
            <div class="col-xs-12 col-sm-12">
              <p>Place for footer</p>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>



