﻿
<nav class="navbar navbar-fixed-top">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title text-center">{{vm.title}}</span></a>
        This area is reserved for top bar
    </div>
</nav>
